body {
  background-color: #1A1F23;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.name h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0px;
  margin-top: 10%;
}

.title h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0px;
  color: #68737E;
}

.small-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  border-radius: 2px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 8px;
}

.small-button:hover {
  background-color: #0087FF;
  border: 2px solid #0087FF;
  color: #fafafa;
  cursor: pointer;
}

h2 {
  color: #68737E;
  font-weight: 400;
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 0px;
}
    span {
      color: #0087FF;
      font-family: 'Roboto Mono', monospace;
    }

.subtitle {
  margin-top: 24px;
}

.big-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 16px;
  border-radius: 2px;
  margin-right: 16px;
}

.big-button:hover {
  background-color: #0087FF;
  border: 2px solid #0087FF;
  color: #fafafa;
  cursor: pointer;
}

.button-row {
  margin-top: 64px;
}

.heading-title h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: rgba(255, 255, 255, .80);
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 0px;
}

.company h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0px;
  color: #68737E;
}
  span {
    color: #0087FF;
    font-family: 'Roboto Mono', monospace;
  }

.product h3 {
  margin-top: 8px;
  color: rgba(255, 255, 255, .25);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bullets{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, .60);
  font-weight: 400;
  line-height: 24px;
}

li {
  margin-top: 18px;
}

a {
  color: #0087FF;
  text-decoration: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, .25);;
}
