body {
  background-color: #1A1F23;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin-left: 240px;
  margin-top: 240px;
}

h1 {
  font-size: 48px;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  color: #68737E;
}
    span {
      color: #0087FF;
    }

.home-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 16px;
  border-radius: 2px;
  margin-right: 16px;
}

.button-row {
  margin-top: 48px;
}
