body {
  background-color: #1A1F23;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
}

.name h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 0px;
  margin-top: 10%;
}

.title h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 0px;
  color: #68737E;
}

.back-button {

}

h2 {
  color: #68737E;
  font-weight: 400;
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 0px;
}
    span {
      color: #0087FF;
      font-family: 'Roboto Mono', monospace;
    }

.subtitle {
  margin-top: 24px;
}

.home-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 16px;
  border-radius: 2px;
  margin-right: 16px;
}

.home-button:hover {
  background-color: #0087FF;
  border: 2px solid #0087FF;
  color: #fafafa;
  cursor: pointer;
}

.button-row {
  margin-top: 64px;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #fafafa;
  font-weight: 500;
  margin-top: 48px;
}
